body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #1a1a1a;
      color: #fff;
      padding: 40px 20px;
    }

    h2 {
      color: #ffd700;
    }

    input {
      padding: 10px;
      width: 90%;
      margin-bottom: 10px;
      border-radius: 6px;
      border: none;
    }

    button {
      padding: 8px 12px;
      margin: 5px;
      background-color: #ffa500;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }

    table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      background-color: #2e2e2e;
    }

    th, td {
      padding: 10px;
      border: 1px solid #444;
      text-align: center;
    }

    th {
      background-color: #ffd700;
      color: #000;
    }