.pizza-contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.tarjeta-pizza {
  background: rgba(255, 253, 253, 0.7);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  max-width: 350px;
  min-height: 550px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta-pizza:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.pizza-imagen {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #110e0d;
  margin-top: 10px;
}

.precio {
  font-size: 1.7rem;
  font-weight: bold;
  color: #110e0d;
}

.descripcion {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  margin: 15px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-agregar {
  background-color: #ff4213;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.btn-agregar:hover {
  background-color: #f37f32;
  transform: scale(1.05);
}
