main {
  display: flex;
  justify-content: flex-end; /* alinea el contenido a la derecha */
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.formulario {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  width: 600px;
  margin: 30px 50px 30px auto; /* Empuja el formulario hacia el margen derecho */
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}



.formulario:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

/* Animación del título */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.formulario h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  text-align: center;
  color: rgb(251, 255, 0);
  margin-bottom: 20px;
  animation: fadeInUp 0.8s ease-out;
}

/* Inputs */
.formulario input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 12px;
  margin-bottom: 25px; 
  border: none;
  border-radius: 6px;
  font-size: 16px;
}
/* Botón personalizado */
.boton-login {
  width: 100%;
  background-color: rgb(255, 115, 0);
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-login:hover {
  background-color: rgb(255, 166, 0);
  color: #000;
}

/* Botón volver */
#volver {
  background-color: transparent;
  border: 2px solid #ffd700;
  color: #ffd700;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#volver:hover {
  background-color: #ffd700;
  color: #000;
}

/* Responsividad *
@media (max-width: 600px) {
  .formulario {
    padding: 20px;
    margin: 20px;
    max-width: 90%;
  }

  .formulario h3 {
    font-size: 22px;
  }

  .formulario input,
  .boton-login,
  #volver {
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .formulario {
    width: 90%;
    margin: 20px auto;
  }
}
